body {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    margin: 0;
}


h1, h2, h3, h4, p {
    text-shadow: 0 0 3px black;
}


#bff-img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 6px solid #003566;
    margin-bottom: 10px;
}

#bday-age {
    background: #003566;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #003566;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://media.giphy.com/media/l0MYJAzu5RTVSGeiY/giphy.gif");
    background-size:cover;
    padding: 0 0 20px 0;
    margin: 0;
}

#content{
    background: linear-gradient(#000814, #ffc300);
    margin: 0;
    
}

.gift-section {
    padding-top: 50px;
}

.gift-title {
    margin: 10px 50px 0 50px;
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 30px auto;
    width: 400px;
    height: 300px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift.jpg");
    background-size: cover;
}

#gift-img-jump:hover {
    background-image: url("https://media.giphy.com/media/ZlRmaLNJgoRIA/giphy.gif");
    background-position-x: center;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/chzz1FQgqhytWRWbp3/giphy.gif");
    background-position-x: center;
}

#gift-img-love:hover {
    background-image: url("https://media.giphy.com/media/TQbdMS9WZRF2g4SJK2/giphy.gif");
    background-position-x: center;
}

#gift-img-woody:hover {
    background-image: url("https://media.giphy.com/media/yns3VgsP30GDm/giphy.gif");
    background-position-x: center;

}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/dMYVHzANYb9p6/giphy.gif");
    background-position-x: center;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 50px auto 0px;
    padding-bottom: 30px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/